:root {
  /* spacing */
  --spacing-md: 15px;

  /* dimensions */
  --card-width: 320px;

  /* colors*/
  --baby-blue: #d5e1ef;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  /* typography */
  --body-font-size: 15px;

  /* fonts */
  --body-font: "Outfit", sans-serif;
  --weight-regular: 400;
  --weight-bold: 700;

  /* borders */
  --inner-border-radius: 10px;
  --outer-border-radius: calc(var(--inner-border-radius) + var(--spacing-md));
}

body {
  background-color: var(--baby-blue);
  padding-top: 100px;
  padding-left:  var(--spacing-md);
  padding-right:  var(--spacing-md);
  font-family: var(--body-font);
  font-size: var(--body-font-size);
}

.card-container {
  margin: 0 auto;
  width: var(--card-width);
  background-color: var(--white);
  padding: var(--spacing-md);
  border-radius: var(--outer-border-radius);
  text-align: center;
}

.card__image {
  width: calc(var(--card-width) - (2 * var(--spacing-md)));
  height: calc(var(--card-width) - (2 * var(--spacing-md)));
  background-image: url("../images/image-qr-code.png");
  border-radius: var(--inner-border-radius);
  background-size: cover;
}

.card__content {
  padding: var(--spacing-md)
}

.card__title {
  font-size: 1.4rem;
  color: var(--dark-blue);
}

.card__text {
  margin-top: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  color: var(--grayish-blue);
}
